//@import '~bootstrap/dist/css/bootstrap.min.css';
//@import '~bootstrap/dist/js/bootstrap.min.js';
//@import '~jquery/dist/js/jquery.min.js';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-lgo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.diary-noteDetails-body {
  background: #092b40;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

.diary-user-img {
  border-radius: 50% !important;
}

.diary-social-icon {
  font-size: 25px;
  position: relative;
  top: 3px;
  right: 5px;
}

.diary-social-text {
  position: relative;
  top: -3px;
  font-size: 18px;
}

* {
  border-radius: 0px !important;
}

.jumbotron {
  border-radius: 0px !important;
  background-color: #092b40;
  color: #fff;
  font-family: 'Bowlby One', cursive;
}

.no-border {
  box-shadow: none;
  outline: none;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.no-border:focus {
  border-bottom: 1.5px solid #007bff;
}

@media only screen and (max-width: 768px) {
  img {
    max-height: 100px;
  }

  .username {
    text-align: left;
  }
  button {
    width: 100%;
  }
}